h1 {
    font-family:Baskerville,Times,'Times New Roman',serif;
    font-size:75px;
    color:#589017;
    font-variant:small-caps;
    text-align:center;
    font-weight:bold;
    padding:15px 0px 15px 0px; /* Tweak this to your liking */
}

h2 {
    font-family:georgia,serif;
    font-size:35px;
    font-style:italic;
    color:#3E2F2F;
    letter-spacing:0;
    line-height:1.429em;
    padding:0;
    text-align:center;
}

h2 span {
    font-family:baskerville,'palatino linotype',georgia,serif;
    font-size:35px;
    font-weight:100;

}

h3 {
    font-family:georgia,serif;
    font-size:35px;
    font-style:italic;
    color:#3E2F2F;
    letter-spacing:0;
    line-height:1.429em;
    padding:0;
    text-align:center;

}

h3 span {
    font-family:baskerville,'palatino linotype',georgia,serif;
    font-size:35px;
    font-weight:100;

}

.introduction {
    font-family:'Helvetica Neue',Arial,sans-serif;
    font-size:15px;
    font-weight:bold;
    margin:10px 0px 10px 20px; /* Tweak this to your liking (also add padding) */
    letter-spacing:3px;
}