<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowa Informacja</title>


    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Nowa Informacja</h1>
    <hr>

    <h2>Zapisz Informacje</h2>

    <form action="#" th:action="@{/saveShopProduct}" th:object="${product}" method="POST" id="test">
        <input type="text" th:field = "*{name}" placeholder="Tytul Informacji" class="form-control mb-4 col-4" maxlength="20" required>
        <input type="text" th:field = "*{price}" placeholder="Kontent" class="form-control mb-4 col-4" maxlength="500" required>

        <hr>
        <button type="submit" class="btn btn-info col-2">Dodaj informacje</button>
    </form>

    <hr>

    <a th:href = "@{/ProductPage.html}">Powrót do listy kategorii</a>
</div>

</body>
</html>