<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Order Page</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link href="../static/css/commonstyle.css" rel="stylesheet" type="text/css">
    <link href="../static/css/tablestyle.css" rel="stylesheet" type="text/css">
    <link href="../static/css/hstyle.css" rel="stylesheet" type="text/css">
</head>

<body>


    <!--Menu-->
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link" href="HomePage.html">Home</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
                <li class="nav-item"> <a class="nav-link" href="ProductPage.html">Continue Shopping</a> </li>
                <li class="nav-item"> <a class="nav-link" href="OrderPage.html">Show my cart</a> </li>
            </ul>
        </div>
    </nav>

    <h3>Cart Page</h3>
    <table class="styled-table">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        <th:set var="total" value="0"></th:set>
        <tr th:each="item : ${items}">
            <td th:text="${item.shopProduct.id}"></td>
            <td th:text="${item.shopProduct.name}"></td>
            <td th:text="${item.shopProduct.photo}"></td>
            <td th:text="${item.shopProduct.price}"></td>
            <td th:text="${item.shopProduct.quantity}"></td>
            <td th:text="${item.shopProduct.price * item.quantity}"></td>
        </tr>
        <tr>
            <td colspan="6" align="right">Sum</td>
            <td>${total }</td>
        </tr>
    </table>
    <br>

    <label><a href="${pageContext.request.contextPath}/shopProduct">Continue Shopping</a><label>

</body>
</html>